.blur{
    border-radius: 50px;
    backdrop-filter: blur(10px);
    padding: 40px;
    background-color: rgba(243, 236, 220, 0.5) !important;
    height: 700px;
    
}

.btn-red{
    background-color: #880201;
    color: white;
}

.table{
    color:black
}
.td{
    height: auto;
}