.imgCat{
    width: auto;
    height: 200px;
    border-radius: 30px;
}

.col{
    margin-top: 0%;
    margin-left: 20px;
    border-radius: 30px;
}
.card-body{
    color: aliceblue;
    border-radius: 30px;
}
.fa-user-alt{
    font-size:25px;
    text-align: center;
}
ul{
    line-height: 0.8em;
}

.dropdown{
    padding-left: 30px;
}
.text-feet{
    color: rgb(158, 10, 10);
}
